.taskStatus {
  display: flex;
  justify-content: space-between;
}

.countCreatedTasks {
  color: var(--blue-400);
  font-weight: 700;
  margin-right: 0.25rem;
}

.countFinishedTasks {
  color: var(--purple-500);
  font-weight: 700;
  margin-right: 0.25rem;
}

.counterBox {
  border-radius: 999px;
  padding: 0.125rem 0.7rem;
  background-color: var(--gray-400);
  font-weight: 700;
  color: var(--gray-200);
}

@media(max-width: 420px) {
  .taskStatus {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin-top: -2rem;
  }

}